body {
    font-family: Arial, sans-serif;
    
    font-size: 16px;
    background-color: black;
   
  }
  input[type="text"],
  input[type="password"] {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #f9f9f9;
  }
  h1 {
    text-align: center;
  }

  .submit {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit:hover {
    background-color: #3e8e41;
  }
  label { display: inline-block; width: 210px; text-align: right; }

 .shoot{
  position: absolute;
  width: 512px;
  height: 812px;
  left: 200px;
  top:10px;
  
 }
 .shoe3{
position: absolute;
width: 351px;
height: 300px;
right: -28px;
top: 138px;

 }
 .new{
font-family: 'Poppins';
font-style: normal;
font-weight: 275;
font-size: 96px;
color: #5FA401;
}

.nike{


font-family: 'Poppins';
font-style: normal;
font-weight: 275;
font-size: 150px;
line-height: 225px;

color: #D9D9D9;
 }

.name-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 20;
font-size: 50px;
color: #D9D9D9;
 }
 nav {
  background-color: #333;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin: 0 10px;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
}

a:hover {
  background-color: #fff;
  color: #333;
}
 
  .error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
